body{
    background-color: coral;
}

h1{
    color:aquamarine;
    
}

th,td,table{
    border: 1px solid black;
}

table {
    border-spacing: 20px;
    border-collapse: collapse;
    width: 50%;
    height: 50%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

table .heading{
    
    justify-items: center;
    background-color: aquamarine;
}