body {
  margin: 0;
}
main {
  margin-top: 60px;
  position: relative;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100svw;
  background: #000;
  color: #999;
}

button,
textarea,
input {
  all: unset;
  border-radius: 8px;
  padding: 5px;
  min-height: 25px;
}

button,
input[type="submit"] {
  text-align: center;
  cursor: pointer;
}
textarea,
input {
  border: 1px solid #08070750;
}

textarea {
  min-height: 90px;
}

button {
  background-color: #08070710;
}

button.primary {
  background-color: blueviolet;
  color: white;
}
