*{
    border:transparent solid 2px;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: aliceblue;
}

li{
    background-color: white;
    list-style-type: none;
}
.list-item{
    background-color: white;
}

.assigned-department{
    background-color: coral;
    color: white;
    border-radius: 4px;
    width:fit-content;
    height: 20px;
    padding-top: 5px;
    font-size: 13px;
    margin-left: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

h5{
    margin: 0;
}
.item-divider{
    height:0px;
}
button{
    background-color: coral;
    color: white;
    height: 30px;
    border-radius: 4px;
    margin: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

select{
    background-color: coral;
    color: white;
    height: 30px;
    border-radius: 4px;
    margin: 4px;
}

hr{
    margin-bottom:20px ;
    background-color: aliceblue;
    height: 20px;
    display: block;
    margin-top: 20px;
}

.report-date{
    background-color: transparent;
    color: grey;
    display: block;
    font-size: 12px;
    margin-left: 0px;
}

.report-description{
    background-color: transparent;
    color:black;
    display: block;
    margin-top:10px ;
    margin-bottom: 10px;
}

.report-location{
    background-color: transparent;
    color:black;
    font-size:12px;
}

#main{
    width:50%;
    position:absolute;
    left: 20%;
}

