main {
  width: 100svw;
}
form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}
form label {
  margin-block: 5px;
}
form button {
  margin-block: 10px;
}

#mapContainer {
  display: none;
  position: fixed;
  height: 100svh;
  width: 100svw;
  top: 0;
  background-color: white;
}
#map {
  position: relative;
  width: 100%;
  height: 60svh;
  bottom: 0;
}

/* Desktop styles */
@media screen and (min-width: 600px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    width: 500px;
    border-radius: 8px;
  }
}
