main {
  width: 100svw;
}
form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}
form label {
  margin-block: 5px;
}
form button {
  margin-block: 10px;
}

/* Desktop styles */
@media screen and (min-width: 600px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    width: 500px;
    border-radius: 8px;
  }
}
